<div class="min-h-screen flex items-center justify-center bg-brown-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-brown-900">
      로그인
    </h2>
    <form class="mt-8 space-y-6" id="login-form" method="POST">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="userId" class="sr-only">id</label>
          <input id="userId" name="userId" type="text" autocomplete="id" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-brown-300 placeholder-brown-500 text-brown-900 rounded-t-md focus:outline-none focus:ring-brown-500 focus:border-brown-500 focus:z-10 sm:text-sm" placeholder="ID">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-brown-300 placeholder-brown-500 text-brown-900 rounded-b-md focus:outline-none focus:ring-brown-500 focus:border-brown-500 focus:z-10 sm:text-sm" placeholder="PASSWORD">
        </div>
      </div>
      <div>
        <button type="submit"  class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-4xl text-white bg-brown-600 hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500">
          로그인
        </button>
      </div>
    </form>
  </div>
</div>
